assets/**/generated
assets/bank.json
assets/R1/used_versions.json
*.ipynb.sage-jupyter2
dashboard.ipynb
venv

# Ignore IDE settings
.idea/
mat-206-checkit.code-workspace

# Ignore Python "noise"
**/__pycache__/
*.pyc

# Ignore Generated Outputs
PDF Outputs/
TeX Outputs/
latex_error_log.txt
